.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.titleContainer h1 {
    color: #f3564d;
    font-size: 3em;
    text-align: center;
    margin-right: .4em;
}

.titleContainer h1 span {
    color: #333;
}

.itemsContainer {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}